.section-title {
  padding: 20px;
  margin-bottom: 30px;
  margin-left: 100px;
}
.card-body {
  padding: 20px;
  height: auto;
}
.card-img-top {
  width: 300px;
  height: 250px;
}
.card-text {
  padding-bottom: 300px;
  height: 250px;
}
